/*------------------------------------------------------------------------------------------
                                            GENERAL
------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap");
body {
  background-color: black;
  /* rgba(206, 201, 201, 0.4)*/
  font-family: "Roboto Slab";
  color: #6849ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2m;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #6849ff;
}

/*------------------------------------------------------------------------------------------
                                            HEADER
------------------------------------------------------------------------------------------*/
header {
  position: sticky;
  top: 0;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
header img {
  max-width: 70px;
}
header nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
header nav a {
  padding: 5px 10px 5px 10px;
}
header nav a:hover {
  background-color: white;
}

/*------------------------------------------------------------------------------------------
                                        DETAILS
------------------------------------------------------------------------------------------*/
#details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#profile_pic {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #6849ff;
  position: relative;
}
#profile_pic img {
  width: 70%;
  margin: 30px 0 30px 0;
  z-index: 1;
}
#profile_pic div {
  background-color: #6849ff;
}
#profile_pic #right_top_corner {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #6849ff;
  z-index: 2;
  position: absolute;
  top: 16px;
  left: 214px;
  transform: rotate(45deg);
}
#profile_pic #left_bottom_corner {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #6849ff;
  z-index: 2;
  position: absolute;
  bottom: 22px;
  left: 26px;
  transform: rotate(45deg);
}

#name_job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#name_job div:nth-child(2) {
  margin-left: 10px;
}

#contact div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10px;
}
#contact div a, #contact div p {
  margin-left: 5px;
}
#contact div i {
  font-size: 20px;
}

/*------------------------------------------------------------------------------------------
                                        PROFILE
------------------------------------------------------------------------------------------*/
#profile {
  width: 60%;
  border-top: 1px solid #6849ff;
  border-bottom: 1px solid #6849ff;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
}
#profile h2 {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------------------------
                                        TIMELINE
------------------------------------------------------------------------------------------*/
i {
  color: #6849ff;
}

/*# sourceMappingURL=style.css.map */
